body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .menu-title:hover{
      background-color: #a9adae;
  }
  h1 {
    margin: 0;
  }
  nav {
    /*background-color: #eee;*/
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    padding: 1rem;
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu>.menu-title {
    display: inline-block;
    /*margin-right: 1rem;*/
    cursor: pointer;
    border-radius: 15%;
    padding: 5%;
    height: 100%;
  }
  main {
    padding: 1rem;
    /*background-color: #CCC;*/
    /*background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);*/
    background-color: #E4E4E1;
background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
   background-blend-mode: normal, multiply;
  }
  section {
    border: 5px solid WHITE;
    padding: 10px;
    margin-bottom: 10px;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .skill-list-item {
    display: inline-block;
    margin-right: 15px;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  .programming-image {
    height: 25px;
    margin-bottom: 5px;
  }
  .s-10 {
    width: 10%;
  }
  .s-20 {
    width: 20%;
  }
  .s-30 {
    width: 30%;
  }
  .s-40 {
    width: 40%;
  }
  .s-50 {
    width: 50%;
  }
  .s-60 {
    width: 60%;
  }
  .s-70 {
    width: 70%;
  }
  .s-80 {
    width: 80%;
  }
  .s-90 {
    width: 90%;
  }
  .s-100 {
    width: 100%;
  }
  .title {
    font-weight: bold;
  }
  .subtitle{
    font-weight: bold;
  }